* {
	font: "Verdana";
}

header > h1 {
	font: "Anton";
	color: #414239;
	size: 4em;
}

.pelicula {
	border: 5px dotted #d7d8cb;
}

.pelicula > h2 {
	font: "Anto“Lobster”n";
	color: #9e0947;
	size: 2.5em;
}

.pelicula h3 {
	color: #ce105c;
	size: 1em;
}

.pelicula > img, .sinopsis, .reparto, .video {
	display: inline-block;
	margin: 10px;
	width: 23%;
}

.pelicula li {
	list-style-image: url("https://goo.gl/6hPSSH");
}

.pelicula > img:hover {
	opacity: 0.8;
}

.sinopsis {
	text-align: justify;
}

li[famoso=principal] {
	font-weight: bold;
}

li[famoso=secundario] {
	font-style: italic;
}